*{
    box-sizing: border-box;
}

@font-face {
    font-family: simpson;
    src: url(../assets/simpson.otf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #ffd90f;
    font-family: simpson;
}
.naranja{
    background-color: #ffc107;
    color: black;
}

.btn{
    color: white;
}

.textohomero{
    display: flex;
    justify-content: center;
}

.textomarge{
    display: flex;
    justify-content: left;
}

.quede{
    display: flex;
    justify-content: center;
    align-items: center;

}

.noentendi{
    height: 100%;
    width: 50%;
}

img{
    margin-top:0;
}