*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ffd90f;
}
.homerito {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 30rem;
}

.btn{
    background-color: rgb(187, 166, 28);
    color: white;
}